<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Socio Economic Status Prediction</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico')}}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
      body {
        background-image: url("{{ url_for('static', filename='img/carousel-1.jpg') }}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="{{  url_for('user_home')}}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0">Community Development Supervisor</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <div class="navbar-nav ms-auto py-0">
                    <a href="#" class="nav-item nav-link">View this in your mobile on <b>{{url}}</b></a>
                </div>
            </div>
            
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Socio Economic Status Prediciton from Satellite Images</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Quote Start -->
    <div class="container-fluid py-5">
        <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                    <center><h2 style="color: red;">{{ message }}</h2></center>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <br>
        <div class="row justify-content-center">
        
    <div class="col-lg-6">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-bold" style="color:yellow;">New User?</p>
                <h1 class="display-5 mb-5" style="color:yellow;">SIGN UP</h1>
            </div>
            <div class="row justify-content-center">
                    <div class="bg-light rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.1s">
                        <form action="{{url_for('reg')}}" method='post'>
                            <div class="form-floating">
                                <input type="email" class="form-control border-0" id="email" name ='email' placeholder="">
                                <label for="gname">Your email</label>
                            </div>
                            <br>
                            <div class="form-floating">
                                <input type="text" class="form-control border-0" id="uname" name = 'uname' placeholder="">
                                <label for="gname">Your Username</label>
                            </div>
                            <br>
                            <div class="form-floating">
                                <input type="password" class="form-control border-0" id="upass" name ='upass' placeholder="">
                                <label for="gmail">Your Password</label>
                            </div>
                            <br>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit" name='submit'>Sign Up</button>
                        </div>
                        </form>
                        <div class="col-12 text-center mt-3">
    <p>Already Registered?
        <a href="{{ url_for('login') }}">Login Here</a>
    </p>
</div>
                        <p>{{status}}</p>
                    </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Quote End -->





    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Socio Economic Status</a>, All Right Reserved.
                </div>
                
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/parallax/parallax.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

    <!-- Template Javascript -->
</body>

</html>